### Failed bank list:

https://www.fdic.gov/bank/individual/failed/banklist.html

Contains the records of 555 bank failures, starting from 2000. If you see weird error messages when your try to load the CSV into pandas, try passing an additional argument to specify the file encoding. Try iso-8859-1. This specifies the Latin 1 alphabet.

In [3]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from datetime import datetime
import pandas as pd
plotly.tools.set_credentials_file(username='michael.miranda', api_key='OKgttWW57PHWFDBGNR2W')



import pandas as pd
from matplotlib import pyplot as plt

df = pd.read_csv('banklist.csv', encoding='iso-8859-1')

In [4]:
df

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,21-Feb-18
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,21-Feb-18
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,22-Mar-18
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,5-Dec-17
5,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,7-Mar-18
6,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
7,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
8,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,25-Sep-17
9,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,1-Jun-17
10,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
11,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,6-Sep-16
12,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16,13-Mar-17
13,Hometown National Bank,Longview,WA,35156,Twin City Bank,2-Oct-15,19-Feb-18
14,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,9-Jul-18
15,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15,20-Feb-18
16,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,8-May-15,12-Jul-16
17,Doral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15,13-May-15
18,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,21-Apr-15
19,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb",23-Jan-15,15-Nov-17
20,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15,15-Nov-17
21,Northern Star Bank,Mankato,MN,34983,BankVista,19-Dec-14,3-Jan-18
22,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14,10-Nov-16
23,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
24,NBRS Financial,Rising Sun,MD,4862,Howard Bank,17-Oct-14,19-Feb-18
25,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC",25-Jul-14,12-Dec-16
26,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,6-Oct-17
27,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,27-Jun-14,21-Feb-18
28,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association",20-Jun-14,14-Feb-18
29,Valley Bank,Moline,IL,10450,Great Southern Bank,20-Jun-14,26-Jun-15
...,...,...,...,...,...,...,...
525,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,9-May-08,28-Aug-12
526,Hume Bank,Hume,MO,1971,Security Bank,7-Mar-08,28-Aug-12
527,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,25-Jan-08,26-Oct-12
528,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,4-Oct-07,12-Sep-16
529,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,28-Aug-12
530,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07,27-Oct-10
531,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04,9-Apr-08
532,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,9-Apr-08
533,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,17-Apr-18
534,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,14-Feb-04,9-Apr-08
535,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,6-Oct-17
536,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,5-Jun-12
537,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,20-Oct-08
538,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,20-Oct-04
539,Bank of Alamo,Alamo,TN,9961,No Acquirer,8-Nov-02,18-Mar-05
540,AmTrade International Bank,Atlanta,GA,33784,No Acquirer,30-Sep-02,11-Sep-06
541,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6-Oct-17
542,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,14-Feb-12
543,New Century Bank,Shelby Township,MI,34979,No Acquirer,28-Mar-02,18-Mar-05
544,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,9-Apr-08
545,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,7-Feb-02,5-Feb-15
546,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,25-Oct-12
547,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,6-Nov-03
548,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,21-Sep-15
549,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,6-Oct-17
550,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
551,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
552,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
553,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
554,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

### Trends Of Bank Failures Over Time (Show a line plot of bank failures over time):

In [45]:
#df2 = pd.read_csv('Bankfaildateslineplot.csv')
#df2.head()
#plt.plot(df2['Number_of_banks'],df2['Dates'])
#plt.xlabel('Number_of_banks')
#plt.ylabel('Dates')
#plt.title('Bank Failures Over Time')
#plt.legend()

plt.show
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from datetime import datetime
import pandas as pd
plotly.tools.set_credentials_file(username='michael.miranda', api_key='OKgttWW57PHWFDBGNR2W')


#import plotly.plotly as py
#import plotly.graph_objs as go 

#from datetime import datetime


#df = pd.read_csv("Bankfaildateslineplot.csv")

#trace = go.Scatter(x=list(df.Date),
#                   y=list(df.Number_of_banks))

#data = [trace]
#layout = dict(
#    title='Time series with range slider and selectors',
#    xaxis=dict(
#        rangeselector=dict(
#            buttons=list([
#                dict(count=1,
#                     label='1m',
#                     step='month',
#                     stepmode='backward'),
#                dict(count=6,
#                     label='6m',
#                     step='month',
#                     stepmode='backward'),
#                dict(count=1,
#                    label='YTD',
#                    step='year',
#                    stepmode='todate'),
#                dict(count=1,
#                    label='1y',
#                    step='year',
#                    stepmode='backward'),
#                dict(step='all')
#            ])
#        ),
#        rangeslider=dict(
#            visible = True
#        ),
#        type='date'
#    )
#)

#fig = dict(data=data, layout=layout)
#py.iplot(fig)

df = pd.read_csv("Bankfaildateslineplot.csv")

trace = go.Scatter(x=list(df.Date),
                   y=list(df.Number_of_banks),
                   name = 'Bank Failures Over Time'
                  )

data = [trace]

layout = dict(title = 'Bank Failures 2000-2018',
              xaxis = dict(title = 'Time'),
              yaxis = dict(title = 'Number of Banks'),
              )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='styled-line')

### Stack Bar Chart of acquired institutions picking up banks.

** Some banks are not acquired

** The height of the bar should correspond to the number of acquisitions

** Each bar stack can be segmented by the state of the failed bank acquired with a color or hatch pattern assigned to each state

In [46]:
import pandas as pd

#df3 = pd.read_csv('Bankacquisitions.csv')
#df3.head()
#%matplotlib inline

#df3.plot.bar()

df = pd.read_csv('Bankacquisitions.csv')

trace1 = go.Bar(
    x=df.Acquiring_Bank,
    y=df.Number_of_Acquisitions,
    name='Number of Acquisitions'
)


data = [trace1]
layout = go.Layout(
    title='Banks Acquiring Failed Banks',
    yaxis=dict(
        title='Number of Banks',
        titlefont=dict(
            size=16,
            color='rgb(107, 107, 107)'
        ),
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        )
    ), 
    
    barmode='stack'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')

In [92]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 1, 0, 0, 0, 0, 1],
    name='AZ'
)

trace2 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 2, 0, 5],
    name='CA'
)

trace3 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 2, 0, 0],
    name='CO'
    
)

trace4 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 1, 7, 3, 0, 1, 1, 0, 0],
    name='FL'
    
)

trace5 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 5, 0, 4, 9, 9, 1, 12, 0],
    name='GA'
    
)
trace6 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
    name='ID'
)

trace7 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[6, 6, 0, 0, 0, 0, 0, 0, 0, 2],
    name='IL'
    
)

trace8 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
    name='MN'
    
)

trace9 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
    name='NJ'
    
)
trace10 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
    name='NM'
)

trace11 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
    name='PA'
)

trace12 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
    name='SC'
    
)

trace13 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
    name='TN'
    
)

trace14 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 0, 0, 3],
    name='TX'
    
)
trace15 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
    name='WA'
)

trace16 = go.Bar(
    x=['MB Financial Bank, N.A.', 'Republic Bank of Chicago', 'Bank of the Ozarks', 'Centennial Bank', 
       'Stearns Bank N.A.', 'Community & Southern Bank', 'Ameris Bank', 'First-Citizens Bank & Trust Company', 
       'State Bank and Trust Company', 'U.S. Bank N.A.'],
    y=[0, 0, 0, 0, 0, 0, 0, 2, 0, 0],
    name='WI'
    
)

data = [trace16, trace15, trace14, trace13, trace12, trace11, trace10, trace9, trace8, trace7, trace6, trace5,
       trace4, trace3, trace2, trace1]
data2 = data[::-1]
layout = go.Layout(
    title='Top Acquiring Banks and the States They Acquire From',
    yaxis=dict(
        title='Number of Banks',
        titlefont=dict(
            size=16,
            color='rgb(107, 107, 107)'
        ),
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        )
    ), 
    
    barmode='stack'
)

fig = go.Figure(data=data2, layout=layout)
py.iplot(fig, filename='stacked-bar')

### Circular Plot of 12 segments corresponding to months of the year with the radius of each segment corresponding to the relative rates of failure for that month:

** Time of the year when more banks tend to fail more

In [93]:
#import plotly.plotly as py
#import plotly.graph_objs as go

#df4 = pd.read_csv('Monthclosuretotals.csv')
#df4.head()

trace1 = go.Barpolar(
    r=[51, '-', '-', 59, '-', '-', 74, '-', '-', 59, '-', '-'],
    text=['Jan', '-', '-', 'Apr', '-', '-', 'Jul', '-', '-', 'Oct', '-', '-'],
    name='+50 Banks in Month',
    marker=dict(
        color='rgb(106,81,163)'
    )
)

trace2 = go.Barpolar(
    r=['-', 44, 38, '-', 43, 36, '-', 41, 38, '-', 35, 35],
    text=['-', 'Feb', 'Mar', '-', 'May', 'Jun', '-', 'Aug', 'Sep', '-', 'Nov', 'Dec'],
    name='-50 Banks in Month',
    marker=dict(
        color='rgb(158,154,200)'
    )
)

data = [trace1, trace2]
layout = go.Layout(
    title='Bank Failures By Month',
    font=dict(
        size=16
    ),
    legend=dict(
        font=dict(
            size=16
        )
    ),
    radialaxis=dict(
        ticksuffix='%'
    ),
    orientation=270
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='polar-area-chart')

### Cloropleth map showing number of failures by each state

** Compare each state's bank failures

In [70]:
# Chorpleth Without Puerto Rico but with the Hover Feature


import plotly.plotly as py
import pandas as pd

df = pd.read_csv('Statefail.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['States'] + '<br>' +\
    'Failure Count '+df['Failure_Count']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['States'],
        z = df['Failure_Count'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Bank Failures")
        ) ]

layout = dict(
        title = 'United States Bank Failure from 2000-2018<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

In [71]:
#Choropleth with Puerto Rico Without the Hover Feature



import pandas as pd
import folium
 
# Load the shape of the zone (US states)
# Find the original file here: https://github.com/python-visualization/folium/tree/master/examples/data
# You have to download this file and set the directory where you saved it
state_geo = '/Users/michaelmiranda/pycache/Final/us-stateswpr.json'
 
# Load the unemployment value of each state
# Find the original file here: https://github.com/python-visualization/folium/tree/master/examples/data 
state_data = pd.read_csv('Statefail.csv')
 
# Initialize the map:
m = folium.Map(location=[37, -102], zoom_start=5)
 
# Add the color for the chloropleth:
m.choropleth(
 geo_data=state_geo,
 name='choropleth',
 data=state_data,
 columns=['States', 'Failure_Count'],
 key_on='feature.id',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='Failure Count'
)
folium.LayerControl().add_to(m)
 
# Save to html
m.save('StateBank.html')

In [50]:
from IPython.display import HTML
HTML('<iframe src=StateBank.html width=700 height = 450></iframe>')


#### Observable pattern to the banks that fail to be acquired, related to date, location, or number of failures in a state?

Observable patterns to banks in relation to date is that the banks that the majority of the banks that are left over are at the beginning of the year. If the fiscal year is in October then that would equate to the end of the 2nd quarter. If the closing of some accounts in some banks is at the beginning of the year then that would equate at the end of the first quarter. Despite all that, banks are left that are left over are predominately at the beginning of the New Year.

Bank closures in general in the first wind rose graph though is very noticable that they are cyclical that they close every quarter. Further more in analyzing the data in the first graph, the bank closures you can take notice that most of the banks closed in wake of the housing market crash.

Further analysis in relation and graphical representation in the number of failures that did not get acquired are below.

In [95]:
#import plotly.plotly as py
#import plotly.graph_objs as go

df = pd.read_csv('FailAcquireMonth.csv')
#df4.head()



trace1 = go.Barpolar(
    r=['-', '-', '-', '-', '1', '2', 2, '-', '-', 2, 1, 2],
    text=['-', '-', '-', '-', 'May', 'Jun', 'Jul', '-', '-', 'Oct', 'Nov', 'Dec'],
    name='-3 Banks',
    marker=dict(
        color='rgb(106,81,163)'
    )
)

trace2 = go.Barpolar(
    r=[4, 3, 7, 4, '-', '-', '-', '-', 3, '-', '-', '-'],
    text=['Jan', 'Feb', 'Mar', 'Apr', '-', '-', '-', '-', 'Sep', '-', '-', '-'],
    name='+3 Banks',
    marker=dict(
        color='rgb(158,154,200)'
    )
)

data = [trace1, trace2]
layout = go.Layout(
    title='Bank Failures Acquired Close Month',
    font=dict(
        size=16
    ),
    legend=dict(
        font=dict(
            size=16
        )
    ),
    radialaxis=dict(
        ticksuffix='%'
    ),
    orientation=270
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='polar-area-chart')

In [96]:
df6 = pd.read_csv('Notacquireddatelineplot.csv')
df7 = pd.read_csv('Notacquiredstatedate.csv')
print(df6)
print(df7)

   Closing_date  Number_of_banks
0      7-Feb-02                1
1     28-Mar-02                1
2     30-Sep-02                1
3      8-Nov-02                1
4     14-Feb-04                1
5     30-Jan-09                1
6     20-Mar-09                1
7     27-Mar-09                1
8     10-Apr-09                1
9     24-Apr-09                1
10     1-May-09                1
11    26-Jun-09                1
12    14-Aug-09                1
13     4-Sep-09                1
14    18-Dec-09                2
15    15-Jan-10                1
16     5-Mar-10                2
17    19-Mar-10                1
18    16-Apr-10                1
19     4-Jun-10                1
20     9-Jul-10                1
21    22-Oct-10                1
22    21-Jan-11                1
23    28-Jan-11                1
24    24-Feb-12                1
25     9-Mar-12                1
26    27-Apr-12                1
27    26-Oct-12                1
28    13-Sep-13                1
29  Grand Total               31
   State       Date
0     AZ   7-Feb-02
1     MI  28-Mar-02
2     GA  30-Sep-02
3     TN   8-Nov-02
4     NJ  14-Feb-04
5     UT  30-Jan-09
6     GA  20-Mar-09
7     GA  27-Mar-09
8     CO  10-Apr-09
9     CA  24-Apr-09
10    GA   1-May-09
11    GA  26-Jun-09
12    NV  14-Aug-09
13    IL   4-Sep-09
14    MI  18-Dec-09
15    GA  18-Dec-09
16    UT  15-Jan-10
17    UT   5-Mar-10
18    MD   5-Mar-10
19    UT  19-Mar-10
20    MI  16-Apr-10
21    IL   4-Jun-10
22    MD   9-Jul-10
23    AZ  22-Oct-10
24    GA  21-Jan-11
25    CO  28-Jan-11
26    MN  24-Feb-12
27    IL   9-Mar-12
28    MD  27-Apr-12
29    PA  26-Oct-12
30    CT  13-Sep-13

#### Is there a state or states that seemed to be more troubled in terms of bank failures than others over this time period? If so provide explanation.

A couple of states were plauged with substantial bank failures during this period. Georgia(93), Florida(75), Illinois (69), California(41) and Minnesota (23) had the most failures. Minnesota though was able to have all their banks get acquired. 

Based on the data of what was acquired and what was left over, Utah had 8 bank failures over this period, but could was not acquired by anyone. However the data can be quite skewed on how long some banks have been closed relative to others. Some banks have been closed for a while and others have been closed recently. The data will capture what isn't acquired as of 2018. The latest banks that wasn't acquired from Utah is from 2009. There are still some banks that have not been acquired from 2002. 

Going from 555 banks to 31 banks is still very good and I would say through the passing of new regulatory laws, it makes it harder for a bank to fail after the housing market crash. The passing of the Dodd Frank Bill I believe provides a layer of protection despite having some things that some people may agree and disagree with. In 2014 only 19 banks failed, 8 in 2015, 5 in 2016 and in 2017 it jumped back up to a whopping 8 banks. This was when in 2013 there were 24 banks that failed and 51 in 2012.

See data below to compare and contrast maps and some data.

In [74]:

df8 = pd.read_csv('Statenotacquired.csv')

In [76]:
print(df8)

   State  Number_of_Banks_Not_Acquired
0     CA                             1
1     CT                             1
2     MN                             1
3     NJ                             1
4     NV                             1
5     PA                             1
6     TN                             1
7     AZ                             2
8     CO                             2
9     IL                             3
10    MD                             3
11    MI                             3
12    UT                             4
13    GA                             7

In [89]:
data = pd.read_csv('Statefail.csv')
print(data)

   States  Failure_Count
0      HI              1
1      MA              1
2      NH              1
3      SD              1
4      WV              1
5      WY              1
6      CT              2
7      IA              2
8      ID              2
9      KY              2
10     MS              2
11     IN              3
12     NE              3
13     NM              3
14     AR              4
15     LA              4
16     PR              4
17     NY              5
18     VA              5
19     OR              6
20     AL              7
21     NC              7
22     NJ              7
23     OK              7
24     TN              7
25     OH              8
26     UT              8
27     CO             10
28     KS             10
29     MD             10
30     PA             10
31     SC             10
32     WI             11
33     NV             12
34     TX             12
35     MI             14
36     AZ             16
37     MO             16
38     WA             19
39     MN             23
40     CA             41
41     IL             69
42     FL             75
43     GA             93

In [83]:
import plotly.plotly as py
import pandas as pd

df = pd.read_csv('Statenotacquired.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['State'] + '<br>' +\
    'No. Banks No Acq. '+df['Number_of_Banks_Not_Acquired']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['State'],
        z = df['Number_of_Banks_Not_Acquired'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of Banks Not Acquired")
        ) ]

layout = dict(
        title = 'Number of Banks Not Acquired<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

In [84]:
import plotly.plotly as py
import pandas as pd

df = pd.read_csv('Statenotacquired.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['State'] + '<br>' +\
    'No. Banks No Acq. '+df['Number_of_Banks_Not_Acquired']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['State'],
        z = df['Number_of_Banks_Not_Acquired'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of Banks Not Acquired")
        ) ]

layout = dict(
        title = 'Number of Banks Not Acquired<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

In [85]:
import plotly.plotly as py
import pandas as pd

df = pd.read_csv('Statefail.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['States'] + '<br>' +\
    'Failure Count '+df['Failure_Count']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['States'],
        z = df['Failure_Count'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Bank Failures")
        ) ]

layout = dict(
        title = 'United States Bank Failure from 2000-2018<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )